<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <article class = "banner"></article>
    <img class="logo" src="https://static1.squarespace.com/static/51d151b1e4b05d425c859fc9/t/57021e067da24f6f7048d807/1459756572423/Project+Vanity+Logo.png?format=1500w" alt="">
  </header>
  <div class="topnav">
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/contact">Contact Us</a>
  <div class="dropdown">
    <button class="dropbtn">Other links
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="https://www.instagram.com/">Instagram</a>
      <a href="https://www.facebook.com/">Facebook</a>
      <a href="https://twitter.com/">Twitter</a>
      </div>
    </div>
  </div>




  <%= yield %>

</body>
</html>
