<form action="/" method="POST">
    <label for="">Email</label>
    <input type="email" type="text">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>Login</button>



</form>