<h1>hello</h1>

<form action="/signup" method="POST">
    <label for="">First name:</label>
    <input type="text" name="first_name">

    <label for="">Last name:</label>
    <input type="text" name="last_name">

    <label for="">Email:</label>
    <input type="text" name="email">

    <label for="">Password:</label>
    <input type="password" name="password">

    <button>Sign up!</button>

    <a href="/"><button>Back to home</button></a>



</form>
