
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(231, 107, 116);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  font-style: oblique;
}

h1 {
  font-size: 8em;
  background-color: aqua;
  border: 10px solid black;
  margin: 0px;
}

h2 {
  font-size: 36px;
  text-decoration:underline black;
}


h3 {
  font-size: 24px;
}

h4 {
  font-size: 24px;
  font-style: italic;
}

h5 {
  font-size: 40px;
  color: rgb(138, 79, 255);
}

.logo {
  width: 30%;
}
body {
text-align: center;
}

button {
  margin: 5px;
  font-size: 20px;
}

a {
  font-size: 24px;
}

.welcome {
  font-size: 48px;
  margin: 10px;
  font-style: italic;
}

p {
  font-size: 20px;
  font-style: italic;
}


a-24
p-24
h1 8em
h2 48
h3  36
h4  24
button -20px