<h1>Add new skinlog</h1>
<form action="/newlog" method="POST">
    <label for="">Skin concern:</label>
    <input name="skin_concern" type="text">

    <label for="">Day no.</label>
    <input name="day_no" type="text">

    <label for="">Date and time</label>
    <input name="date_time" type="text">
    
    <label for="">Image URL</label>
    <input name="image_url" type="text">

    <label for="">Product used</label>
    <input name="product" type="text">

    <label for="">Details</label>
    <input name="details" type="text">

    <button>Add skinlog</button>
</form>